.welcome-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: sticky;
}

.query-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
